* {
  padding: 0;
  margin: 0;
}

html, 
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: rgb(207, 218, 219);
}

.overview {
  margin-top: 5%;
  display: inline-flex;
  margin-left: 5%;
  margin-right: auto;
}

table {
  margin-right: 50px;
  min-width: 200px;
  border-collapse: collapse;
  font-size: 0, 5em;
  color: rgb(58, 56, 56);
  text-align: center;
  border-style: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

img {
  max-width: 90px;
  max-height: auto;
}

.celsius {
  font-size: 200%;
}

td {
  min-width: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

a:active, 
a:link, 
a:visited, 
a:hover {
  text-decoration: none;
  color: rgb(58, 56, 56);
}

a:hover {
  text-decoration: none;
  color: lightcoral;
}

h2 {
  margin-left: 5%;
  margin-top: 5%;
}

h3 {
  margin-top: 50px;
  margin-left: 5%;
}
