* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  background-color: white;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: 80px 200px 200px 80px;
}

.header {
  grid-column: 1 / 19;
  background-color: purple;
  display: flex;
}

.navlinks {
  background-color: cyan;
  display: inline-flex;
  margin: 30px;
  margin-left: 0px;
  width: 60px;
  height: 20px;
}

.navlinks:first-of-type {
  margin-left: 5%;
}

.article2, .artiicle4 {
  grid-column: 10 / 18;
  background-color: green;
  padding: 2rem;
}

.article1, .article3 {
  grid-column: 2 / 10;
  background-color: green;
  padding: 2rem;
}

.article4 {
  grid-column: 10 / 18;
  background-color:white;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  padding: none;
}

.sidebar {
  background-color: green;
}

.redbox{
  background-color: tomato;
  margin: 10%;
  height: 70%;
}

.footer {
  grid-column: 2 / 18;
  background-color: grey;
}
